.AuthFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;
}

.AuthForm {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  margin-top: 140px;
}

.AuthFormContent {
  padding-left: 12%;
  padding-right: 12%;
}

.AuthFormTitle {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.btnPrimary {
  background-color:#FFE5B4 !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom:15px;
}


label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

a:-webkit-any-link {
  text-decoration: none;
  transition: 0.3s all;
}
.a:hover {
  color: hsl(20, 37%, 65%)!important;
}

