.login-container {
  margin-top: 10%;
  border: 0px solid #FFF9ED;
  border-radius: 12px;
  box-shadow: 0 0px 28px 0 rgb(0 0 0 / 8%);
  max-width: 50%;
  background-color: #FFF9ED;
  z-index: 1;
  position: relative;
}

.welcome_auth {
  align-items: center;
  display: flex;
  justify-content: center;
}
.auth_welcome a {
  font-weight: 400;
}
.auth_welcome {
  font-weight: 100;
  font-size: 1.2em;
  background: -webkit-linear-gradient( 45deg, orange, #FEDDA3);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: black;
  max-width: 170px;
}
a.auth_branding_in img {
  width: 60px;
  height: 60px;
  border-radius: 1000px;
  background-color:#FFF9ED;

}

.login-form {
  background: #FBFBFA;
  border-radius: 0px 12px 12px 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.login_form_in {
  padding: 4em 1em;
}
.login-form h1 {
  font-size: 1.2em;
  max-width: 600px;
  margin: 0 auto;
  color: #969696;
  line-height: 1.5em;
  padding: 1.2em 0px .8em;
}
.lni {
  display: inline-block;
  font: normal normal normal 1em/1 'LineIcons';
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  color: #fff;
  background-color: orange;
  border-color: orange;
}
.btn-primary:hover {
  color: #fff;
  background-color: #F09800;
  border-color: #F09800;
}

.other_auth_links a:nth-child(2) {
  float: right;
}
a {
  text-decoration: none;
  color: #afafaf;
}
a:hover {
  text-decoration: none;
  color: #616161;
}    
.alert-success {
  background-color: #FFF9ED;
  color: orange;
  font-size: .9em;
}

.error {
  border:1px solid red;
}

.error-text {
  color:red;
  font-size: 0.8em;
}